body {
    background: black;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:5px solid grey
}
#player, #backgroundImage, #enemy, #chest, #key, #coin, #bottom, #top, #side, #corner {
    display: none;
}
#collisionCanvas {
    opacity: 0;
}
